:root {
  --first-title-color: #2e2f42;
  --second-title-color: #ffffff;
  --first-text-color: #434455;
  --second-text-color: #f4f4fd;
  --first-background-color: #2e2f42;
  --second-background-color: #f4f4fd;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* -------- HEADER -------- */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  height: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: var(--first-title-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* -------- HERO -------- */

.hero {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--first-background-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bg.jpg");
  background-size: cover;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-size: 56px;
  max-width: 496px;
  height: 120px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* -------- FEATURES -------- */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-wrap {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.feature-item {
  width: 264px;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--second-background-color);
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

/* -------- SECTION 2 -------- */

.section-two {
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--first-title-color);
  margin-bottom: 72px;
}
.section-list {
  display: flex;
  gap: 24px;
}

/* -------- SECTION 3 -------- */

.team-section {
  background-color: var(--second-background-color);
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text-wrap {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-icon {
  fill: #f4f4fd;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

/* -----------SECTION 4----------- */

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-list-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-list-icon {
  fill: currentColor;
}

/* -------- PORTFOLIO-FILTER -------- */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-item {
  font-family: inherit;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.btn-item:hover,
.btn-item:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

/* -------- CARD CONCEPT -------- */

.link-app {
  display: block;
}

.link-app:hover,
.link-app:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-list-img-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
}

.link-app:hover .overlay,
.link-app:focus .overlay {
  transform: translate(0, 0);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.card-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

/* -------- FOOTER -------- */

.footer {
  background-color: var(--first-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-wrap {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  height: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.footer-logo-studio {
  color: var(--second-text-color);
}

.social-media-wrap {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 80px;
}

.social-media-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-media-icon {
  fill: #f4f4fd;
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
